.container {
  background-color: bisque;
  padding: 8px;
  min-height: 200px;

  display: flex;
  flex-wrap: wrap;
}

.container .element {
  flex: 1;
  background-color: darkgoldenrod;
  border: 1px solid black;
  padding: 8px;
  margin: 20px;
  min-width: 200px;
}

.container .element:first-child {
  flex: 2;
} 

.container .element:last-child {
  flex: 4;
} 

@media (max-width: 1000px) {
  .container .element:last-child {
    background-color: tomato;
  } 
}

@media (max-width: 900px) {
  .container .element:nth-last-child(2) {
    background-color: tomato;
  } 
}
}