* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

h1,
h2 {
    margin: 0;
    color: blue;
    padding: 20px 0 20px 10px;
    background-color: aliceblue;
}

h2 {
    font-style: italic;
    padding: 0 0 20px 10px;
    border-bottom: 1px solid blue;
}

#invite:hover {
    background-color: lightblue;
}

li {
    margin: 20px 0 20px 0;
    padding: 10px 0 10px 5px;
    border: 1px solid black;
    list-style-type: none;
    max-width: 700px;
    box-shadow: 2px 4px 1px grey;
    line-height: 1.6em
}

li:first-line {
    letter-spacing: 1px;
    font-weight: bold;
}

li:first-letter {
    color: blue;
}

input {
    border: 1px solid blue;

}

input:focus {
    border-color: red;
}

input[type='submit']:hover {
    background-color: lightblue;
}

.contact {
    background-color: aliceblue;
}